.containerContact {
  font-family: "Vibur", cursive;
  font-size: 1rem;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/624/316/6/minimalism-pattern-monochrome-bricks-walls-wallpaper-preview.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  padding: 0 0 30px 0;
}

/*-- Sign Styles --*/

.titleContact {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  span {
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neons 0.08s ease-in-out infinite alternate;
    font-family: neon6;
  }
}

/*-- Animation Keyframes --*/

// animation
@keyframes neons {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

.containerForm {
  padding: 30px 30px;
  margin: 30px auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.containerForm-button {
  border: none;
  padding: 12px 50px;
  margin-top: 18px;
  font-size: 20px;
  background-color: rgba(68, 28, 242, 0.5);
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid #441cf2;
  border-radius: 10px;
  display: flex;
  color: white;
  font-weight: 700;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 37px 0px rgba(68, 28, 242, 1);
  -moz-box-shadow: 0px 0px 37px 0px rgba(68, 28, 242, 1);
  box-shadow: 0px 0px 37px 0px rgba(68, 28, 242, 1);
  transition: all 0.5s ease;
}

.containerForm-button:hover {
  background-color: rgba(68, 28, 242, 1);
  scale: 1.1;
}


@media (max-width: 768px) {
  .titleContact {
    span {
      font-size: 4.6rem;
      
    }
  }

  .containerForm {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .titleContact {
    span {
      font-size: 3.7rem;
      
    }
  }
}

@media (max-width: 374px) {
  .titleContact {
    span {
      font-size: 2.7rem;
      
    }
  }
}
